.ionide
paket-files
src/obj
.vs
.config
BenchmarkDotNet.Artifacts
benchmark/bin
benchmark/obj
extensions/Newtonsoft.Json/obj
extensions/Protobuf/obj
extensions/System.Text.Json/bin
extensions/System.Text.Json/obj
extensions/Thoth.Json.Net/bin
extensions/Thoth.Json.Net/obj
extensions/Protobuf/bin
extensions/Newtonsoft.Json/bin
