dist: xenial
addons:
  snaps:
  - name: dotnet-sdk
    classic: true
    channel: latest/stable
sudo: required
language: csharp
mono: none

install:
 - sudo snap alias dotnet-sdk.dotnet dotnet
 - dotnet tool install Paket
 - dotnet paket install
 - curl -s https://codecov.io/bash > codecov
 - chmod +x codecov

script:
 - dotnet build
 - ./test.sh

deploy:
  provider: script
  skip_cleanup: true
  script: bash deploy.sh
  on:
    tags: true

after_success:
 - ./codecov -f "coverage.lcov" -t $CODECOV_TOKEN
