dist: xenial
addons:
  snaps:
  - name: dotnet-sdk
    classic: true
    channel: latest/stable
sudo: required
language: csharp

install:
 - mono .paket/paket.exe install
 - sudo snap alias dotnet-sdk.dotnet dotnet
 - curl -s https://codecov.io/bash > codecov
 - chmod +x codecov

script:
 - dotnet build
 - ./test.sh

deploy:
  provider: script
  skip_cleanup: true
  script: bash deploy.sh $TRAVIS_TAG $NUGET_SOURCE $NUGET_API_KEY
  on:
    branch: master
    tags: true

after_success:
 - ./codecov -f "coverage.lcov" -t $CODECOV_TOKEN
