group Main
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0

    nuget FSharp.Core >= 7 lowest_matching: true
    nuget Microsoft.Extensions.Logging >= 6 lowest_matching: true
    nuget Microsoft.Extensions.DependencyInjection >= 6 lowest_matching: true
    nuget FsToolkit.ErrorHandling ~> 4

group Json
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0

    nuget FSharp.Core >= 7 lowest_matching: true
    nuget System.Text.Json >= 8.0.5 lowest_matching: true
    nuget Oryx

group Newtonsoft
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0

    nuget FSharp.Core >= 7 lowest_matching: true
    nuget Newtonsoft.Json
    nuget Microsoft.NETCore.Platforms >= 6 lowest_matching: true
    nuget Oryx

group Thoth
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0

    nuget FSharp.Core >= 7 lowest_matching: true
    nuget Thoth.Json.Net
    nuget Oryx

group Google
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0

    nuget FSharp.Core >= 7 lowest_matching: true
    nuget Google.Protobuf ~> 3
    nuget Microsoft.NETCore.Platforms >= 6 lowest_matching: true
    nuget Oryx

group Test
    source https://www.nuget.org/api/v2
    storage: none

    nuget FSharp.Core
    nuget coverlet.msbuild ~> 3
    nuget Unquote ~> 5
    nuget xunit ~> 2
    nuget xunit.runner.visualstudio ~> 2
    nuget Serilog.Sinks.XUnit
    nuget Microsoft.NET.Test.Sdk ~> 17
    nuget FsCheck.Xunit
    nuget Thoth.Json.Net

group Examples
    source https://www.nuget.org/api/v2
    storage: none

    nuget Thoth.Json.Net
    nuget Oryx
    nuget Oryx.ThothJsonNet
    nuget Newtonsoft.Json
