group Main
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0

    nuget Microsoft.Extensions.Logging
    nuget FSharp.Core ~> 4.7
    nuget Taskbuilder.fs ~> 2.1


group Json
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0
    nuget FSharp.Core ~> 4.7
    nuget System.Text.Json
    nuget Taskbuilder.fs ~> 2.1
    nuget Oryx

group Newtonsoft
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0
    nuget FSharp.Core ~> 4.7
    nuget Newtonsoft.Json
    nuget Taskbuilder.fs ~> 2.1
    nuget Oryx

group Thoth
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0
    nuget FSharp.Core ~> 4.7
    nuget Thoth.Json.Net
    nuget Taskbuilder.fs ~> 2.1
    nuget Oryx

group Google
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0
    nuget FSharp.Core ~> 4.7
    nuget Google.Protobuf ~> 3.9
    nuget Taskbuilder.fs ~> 2.1
    nuget Oryx

group Test
    source https://www.nuget.org/api/v2
    storage: none

    nuget FSharp.Core 4.7.0
    nuget coverlet.msbuild 2.5.1
    nuget Unquote ~> 4
    nuget xunit ~> 2
    nuget xunit.runner.visualstudio ~> 2
    nuget Serilog.Sinks.XUnit
    nuget Microsoft.NET.Test.Sdk ~> 16
    nuget FsCheck.Xunit
    nuget Thoth.Json.Net

group Benchmark
    source https://www.nuget.org/api/v2
    storage: none

    nuget BenchmarkDotNet
    nuget Newtonsoft.Json
    nuget Thoth.Json.Net
    nuget Utf8Json
    nuget Ply

group Examples
    source https://www.nuget.org/api/v2
    storage: none
    
    nuget Thoth.Json.Net