group Main
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0

    nuget FSharp.Core ~> 6
    nuget Microsoft.Extensions.Logging ~> 5
    nuget Microsoft.Extensions.DependencyInjection ~> 5
    nuget FsToolkit.ErrorHandling ~> 2

group Json
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0

    nuget FSharp.Core ~> 6
    nuget System.Text.Json ~> 6
    nuget Oryx = 5.0.0-alpha-005

group Newtonsoft
    source https://www.nuget.org/api/v2
    storage: none

    framework: netstandard2.0

    nuget FSharp.Core ~> 6
    nuget Newtonsoft.Json
    nuget Microsoft.NETCore.Platforms ~> 6
    nuget Oryx = 5.0.0-alpha-005

group Thoth
    source https://www.nuget.org/api/v2
    source /Users/dbrattli/developer/packages
    storage: none

    framework: netstandard2.0

    nuget FSharp.Core ~> 6
    nuget Thoth.Json.Net
    nuget Oryx = 5.0.0-alpha-005

group Google
    source https://www.nuget.org/api/v2
    source /Users/dbrattli/developer/packages
    storage: none

    framework: netstandard2.0

    nuget FSharp.Core ~> 6
    nuget Google.Protobuf ~> 3
    nuget Microsoft.NETCore.Platforms ~> 6
    nuget Oryx = 5.0.0-alpha-005

group Test
    source https://www.nuget.org/api/v2
    storage: none

    nuget FSharp.Core ~> 6
    nuget coverlet.msbuild ~> 3
    nuget Unquote ~> 5
    nuget xunit ~> 2
    nuget xunit.runner.visualstudio ~> 2
    nuget Serilog.Sinks.XUnit
    nuget Microsoft.NET.Test.Sdk ~> 16
    nuget FsCheck.Xunit
    nuget Thoth.Json.Net

group Examples
    source https://www.nuget.org/api/v2
    storage: none

    nuget Thoth.Json.Net
    nuget Oryx = 5.0.0-alpha-005
    nuget Oryx.ThothJsonNet
    nuget Newtonsoft.Json
